@import 'variables';

header {
  @extend .regular-font;
  margin: 2em 0;
  text-align: center;

  .dewdrop {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
  }

  h2 {
    font-size: 1.5em;

    @include min($desktopXSmall) {
      font-size: 2em;
    }
  }

  .locate-me {
    color: inherit;
    text-decoration: none;

    @include min($desktopXSmall) {
      margin: 0 0 0 .5em;
    }

    input {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      height: 20px;
      vertical-align: middle;
    }
  }
}
