@import 'variables';
@import 'header';
@import 'footer';

// General body styling
body {
  font-family: 'Lora', serif;
}

.getting-location {
  img {
    animation: pulse 1s infinite;
    height: 25px;
  }
}

// Forecast block
.forecast-holder {
  display: none;

  .currently {
    position: relative;

    .city-name {
      @extend .bold-font;
      font-size: 2em;
    }

    .dewpoint {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 4em;
    }

    .currently-data {
      font-size: 1.1em;
      margin: 1em 0;

      .update-location {
        color: inherit;
        display: inline-block;
        margin-top: 10px;
        font-size: .75em;
      }
    }
  }

  .day {
    min-height: 15em;
    padding: 5px;

    .inner-wrapper {
      height: 250px;
      width: 100%;

      .dewdrop-icon{
        @include vertical-align;
        height: 30px;
      }

      .icon-holder {
        display: inline-block;
        width: 20px;
      }

      .small-icon {
        @include vertical-align;
        height: 15px;
      }

      .day-contents {
        height: 100%;
        position: relative;
        width: 100%;

        .temperature {
          font-size: 4em;
          position: absolute;
          text-align: center;
          top: 0;
          width: 100%;

          .discomfort-text {
            font-size: .25em;
            text-align: center;
          }
        }

        .summary {
          bottom: 0;
          font-size: .9em;
          position: absolute;

        }
      }
    }
  }
}
