  <footer class="row">
    <div class="col-12 justify-content-center">
      <p><a target="_blank" href="https://www.weather.gov/arx/why_dewpoint_vs_humidity" class="underlined">What is the "dew point"?</a></p>
      <p><a target="_blank" href="https://darksky.net/poweredby/">Powered by Dark Sky</a> &bull; <a target="_blank" href="https://icons8.com">Icon pack by Icons8</a></p>
    </div>
  </footer>

</body>
</html>
