/* Generate classes corresponding to a mapping of dew point scale colors */
.dp-level-1 {
  background-color: #C3E4A8; }

.dp-level-2 {
  background-color: #82D4A5; }

.dp-level-3 {
  background-color: #FDFD9D; }

.dp-level-4 {
  background-color: #FCDC94; }

.dp-level-5 {
  background-color: #FC7B82; }

.dp-level-6 {
  background-color: #DA777D; }

/* Site fonts */
.regular-font, header {
  font-family: 'Lora', serif;
  font-weight: 400; }

.bold-font, .forecast-holder .currently .city-name {
  font-family: 'Lora', serif;
  font-weight: 700; }

/* Useful mixins */
/* Animation */
@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Screen sizes */
/* Generate classes corresponding to a mapping of dew point scale colors */
.dp-level-1 {
  background-color: #C3E4A8; }

.dp-level-2 {
  background-color: #82D4A5; }

.dp-level-3 {
  background-color: #FDFD9D; }

.dp-level-4 {
  background-color: #FCDC94; }

.dp-level-5 {
  background-color: #FC7B82; }

.dp-level-6 {
  background-color: #DA777D; }

/* Site fonts */
.regular-font, header {
  font-family: 'Lora', serif;
  font-weight: 400; }

.bold-font, .forecast-holder .currently .city-name {
  font-family: 'Lora', serif;
  font-weight: 700; }

/* Useful mixins */
/* Animation */
@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Screen sizes */
header {
  margin: 2em 0;
  text-align: center; }
  header .dewdrop {
    display: block;
    height: 40px;
    margin: 0 auto .5em;
    vertical-align: middle; }
    @media screen and (min-width: 950px) {
      header .dewdrop {
        display: inline-block;
        margin: auto; } }
  header h1 {
    font-size: 1.7em;
    margin: 0; }
    @media screen and (min-width: 950px) {
      header h1 {
        font-size: 2.5rem; } }
  header #dew-point-in {
    display: none;
    opacity: 0;
    transition: .5s all; }
    header #dew-point-in.showing {
      opacity: 1; }
  header #locate-me {
    color: inherit;
    text-decoration: none; }
    @media screen and (min-width: 950px) {
      header #locate-me {
        margin: 0 0 0 .5em; } }
    header #locate-me input {
      display: inline-block;
      vertical-align: middle; }
    header #locate-me img {
      display: inline-block;
      height: 20px;
      vertical-align: middle; }

footer {
  font-size: .75em;
  margin: 2.5em 0;
  text-align: center; }
  footer a {
    color: inherit; }
    footer a.underlined {
      text-decoration: underline; }
  footer p {
    margin-bottom: .25rem; }

body {
  font-family: 'Lora', serif; }

.loading-icons {
  margin: 1em 0;
  vertical-align: middle; }
  .loading-icons #getting-location,
  .loading-icons #getting-weather {
    animation: pulse 1s infinite;
    height: 25px;
    display: none; }
    .loading-icons #getting-location.showing,
    .loading-icons #getting-weather.showing {
      display: inline; }

.forecast-holder .currently {
  position: relative; }
  .forecast-holder .currently.day .inner-wrapper {
    height: auto; }
    @media screen and (min-width: 950px) {
      .forecast-holder .currently.day .inner-wrapper {
        height: 250px; } }
  .forecast-holder .currently p {
    margin: 0; }
  .forecast-holder .currently .city-name {
    font-size: 2em; }
  .forecast-holder .currently .dewpoint {
    font-size: 4em;
    text-align: center; }
    @media screen and (min-width: 950px) {
      .forecast-holder .currently .dewpoint {
        position: absolute;
        top: 45px;
        right: 20px; } }
    .forecast-holder .currently .dewpoint .discomfort-text {
      font-size: .3em;
      text-align: center; }
  .forecast-holder .currently .currently-data {
    font-size: 1.0em;
    margin: 0 0 1em; }
    .forecast-holder .currently .currently-data .update-location {
      color: inherit;
      display: inline-block;
      margin-top: 10px;
      font-size: .75em; }
  .forecast-holder .currently .todays-forecast-data {
    font-size: .9em; }
.forecast-holder .day {
  min-height: 15em;
  padding: 5px; }
  .forecast-holder .day .inner-wrapper {
    height: 250px;
    width: 100%; }
    .forecast-holder .day .inner-wrapper .dewdrop-icon {
      display: inline-block;
      vertical-align: middle;
      height: 30px; }
    .forecast-holder .day .inner-wrapper .icon-holder {
      display: inline-block;
      width: 20px; }
    .forecast-holder .day .inner-wrapper .small-icon {
      display: inline-block;
      vertical-align: middle;
      height: 15px; }
    .forecast-holder .day .inner-wrapper .day-contents {
      height: 100%;
      position: relative;
      width: 100%; }
      .forecast-holder .day .inner-wrapper .day-contents .temperature {
        font-size: 4em;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%; }
        .forecast-holder .day .inner-wrapper .day-contents .temperature .date {
          font-size: .25em;
          text-align: left; }
        .forecast-holder .day .inner-wrapper .day-contents .temperature .discomfort-text {
          font-size: .25em;
          text-align: center; }
      .forecast-holder .day .inner-wrapper .day-contents .summary {
        bottom: 0;
        font-size: .9em;
        position: absolute; }

/* Geolocation denied */
.denied-geolocation {
  display: none; }
  .denied-geolocation.showing {
    display: flex; }

/* Location search bar */
#location-search {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: block;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin: 1.5em auto .75em;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 80%; }
  @media screen and (min-width: 950px) {
    #location-search {
      display: inline-block;
      max-width: 60%; } }

/*# sourceMappingURL=site.css.map */
