{{> header}}

<div class="row">
  <div class="col-12">
    <div class="row justify-content-center forecast-holder">
      <div class="col-12" id="forecast"></div>
    </div>
  </div>
</div>

<div class="row denied-geolocation text-center">
  <div class="col-12">
    <h3>Geolocation denied</h3>
    <p>But that's alright! You can use the site without geolocation by entering a location above.</p>
  </div>
</div>

{{> footer}}
